In [2]:
import dataloader
import pandas as pd
import numpy as np

In [3]:
events = pd.read_csv('data/train_events.csv')
events.sample(5)

          series_id  night   event      step                 timestamp
5948   703b5efa9bc1     21   onset       NaN                       NaN
6650   785c9ca4eff7     14   onset  229812.0  2018-10-03T22:56:00-0400
10863  ccdee561ee5d     28  wakeup  480228.0  2018-10-03T05:59:00-0400
2254   2654a87be968     29   onset       NaN                       NaN
2550   2b0a1fa8eba8      3   onset   41076.0  2018-11-14T21:03:00-0500

In [18]:
sid = '08db4255286f'

In [19]:
data = dataloader.acc_data_for_child(sid)
data.sample(5)

           series_id    step                 timestamp     anglez    enmo
413617  08db4255286f  413617 2018-11-29 12:28:05+00:00 -54.370701  0.0023
291683  08db4255286f  291683 2018-11-22 11:06:55+00:00  -9.028800  0.0402
193469  08db4255286f  193469 2018-11-16 18:42:25+00:00 -40.578602  0.0082
312111  08db4255286f  312111 2018-11-23 15:29:15+00:00 -13.949000  0.0036
198120  08db4255286f  198120 2018-11-17 01:10:00+00:00 -13.769900  0.0246